@page "/indexB"
@layout MainLayout

<h1 class="library-homepage__title">Library Homepage - Layout B</h1>

<div class="library-homepage__content">
    <section class="library-homepage__featured">
        <h2 class="library-homepage__featured-title">Featured Books</h2>
        <div class="library-homepage__featured-list">
            <!-- Featured books will be dynamically populated here -->
        </div>
    </section>

    <section class="library-homepage__categories">
        <h2 class="library-homepage__categories-title">Categories</h2>
        <ul class="library-homepage__categories-list">
            <li class="library-homepage__category-item">Fiction</li>
            <li class="library-homepage__category-item">Non-Fiction</li>
            <li class="library-homepage__category-item">Science</li>
            <li class="library-homepage__category-item">History</li>
            <li class="library-homepage__category-item">Biography</li>
        </ul>
    </section>

    <section class="library-homepage__about">
        <h2 class="library-homepage__about-title">About Us</h2>
        <p class="library-homepage__about-description">
            Welcome to our library! We offer a wide range of books and resources for all ages.
        </p>
    </section>
</div>

<ToggleTheme />